.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 40px;
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
}

.footer h2 {
  margin-bottom: 32px;
}

.footer li {
  margin-bottom: 16px;
}

.footer-bg {
  background-color: var(--color-12);
}

.footer-social {
  display: flex;
  gap: 32px;
  margin-top: 40px;
}

.footer-contato ul {
  margin-bottom: 32px;
}

.footer-contato li:nth-child(even):after {
  content: "";
  display: block;
  max-width: 300px;
  height: 2px;
  background: var(--color-11);
  margin-top: 16px;
}

.footer-direitos {
  margin-top: 40px;
  grid-column: 1/-1;
}

.footer a:hover {
  color: var(--color-0);
}

@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .footer-direitos {
    margin-top: 0px;
  }
}
