:root {
  --color-0: #ffffff;
  --color-2: #ededed;
  --color-8: #595959;
  --color-5: #b2b2b2;
  --color-10: #2e2e2e;
  --color-11: #111111;
  --color-bg: #000000;
  --color-bh: #111111;
  --color-p1: #ffbb00;
  --color-p2: #e4a30b;
  --color-p4: #664400;
  --color-p5: #332200;
}

/*text color*/
.color-0 {
  color: var(--color-0);
}

.color-8 {
  color: var(--color-8);
}

.color-5 {
  color: var(--color-5);
}

.color-c11 {
  color: var(--color-11);
}

.color-p1 {
  color: var(--color-p1);
}

.color-p2 {
  color: var(--color-p2);
}

.color-p4 {
  color: var(--color-p4);
}

.color-p5 {
  color: var(--color-p5);
}
