:root {
  --color-0: #ffffff;
  --color-8: #595959;
  --color-5: #b2b2b2;
  --color-10: #2e2e2e;
  --color-bg: #000000;
  --color-bh: #111111;
  --color-p1: #ffbb00;
}

/*text color*/
.color-0 {
  color: var(--color-0);
}

.color-8 {
  color: var(--color-8);
}

.color-c5 {
  color: var(--color-5);
}

.color-p1 {
  color: var(--color-p1);
}
